.banner {
  background-image: url("/images/blog/Blogs_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  height: 600px;
}

.title-mn-blog {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
}

.title-subb-blog {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}

.custom-row {
  margin-top: 80px;
}

.leading-section {
  padding: 0px 15px 80px 15px;
}

.more-sub-titl {
  color: #000;
}

.leading-section p,
.leading-section h2 {
  text-align: center;
}

.leading-con {
  background-color: #f5f5f5;
  border-radius: 13px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leading-con img,
.leading-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.leading-singel {
  padding: 21px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leading-singel span {
  color: #4b4b4a;
  font-size: 11px;
}

.leading-singel p {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}

.leading-singel a {
  color: #000000;
  font-size: 14px;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  width: 85px;
}

.leading-singel a:hover {
  transform: scale(1.1);
}

.banner-title {
  color: #fff;
}

/* Small devices (Mobile phones, 300px and above) /  */
@media only screen and (min-width: 300px) and (max-width: 599px) {

  .banner-title {

    padding-top: 30px;

    font-size: 32px;

    background-blend-mode: overlay;
    /*  New updated css */

    background-color: #00000080;
    /*  New updated css */

  }



  .leading-con img,
  .leading-img {

    object-fit: cover;

    width: 100%;

    height: 256px;
    /*  New updated css */

  }

  .custom-row {
    margin-top: 0px;
  }

  .leading-section {
    margin-top: 0px !important;
  }

}