.hed-sti-top{
  /* position: fixed;
z-index: 99; */
width: 100%;

}

.contact-banner {
  width: 100%;
  background: #fff;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  text-align: center;
}

.contact-text {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
}

.contact-link {
  text-decoration: underline;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.contact-gap {
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
}

.whatsapp-icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  object-fit: cover;
}

.phone-number {
  color: #000;
  font-weight: 900;
  line-height: 16px;
  font-size: 14px;
}

/* Mobile & tablet */
@media (max-width: 768px) {
  .contact-banner {
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    padding: 15px;
  }

  .contact-gap {
    margin-left: 0;
  }
}
@media only screen and (min-width: 300px) and (max-width: 599px) {
   .contact-gap {
   display: none;
  }
}
