:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-color: #fff;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.cursor-no-drop {
  cursor: not-allowed !important;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scroll-top-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffd800;
  color: #000;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(227, 31, 38, 0.35);
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-top-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(227, 31, 38, 0.45);
}

.scroll-top-btn:active {
  transform: scale(0.95);
}

.pasting-page {
  position: relative;
}

.enquiry-form-product-count {
  position: fixed;
  top: 60%;
  right: 16px;

  min-width: 42px;
  height: 42px;
  padding: 0 10px;

  background: #fff;
  color: #222;

  font-size: 15px;
  font-weight: 600;

  border-radius: 10px;
  border: 2px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  z-index: 999;
  transition: all 0.25s ease;
}

.enquiry-form-product-count:hover {
  border-color: #e31f26;
  color: #e31f26;
  transform: translateX(-4px);
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none !important;
  }
}