.product-item-box {
  flex: 0 0 14%;
  /* around 7 per row */
  max-width: 14%;
  padding: 5px;
}

.product-range-container {
  background-color: #fff;
}

.product-range-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #d32f2f;
}

.product-range-description {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.product-item {
  display: block;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 8px;
  height: 100%;
  text-align: center;
}

.product-image {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-footer {
  padding: 5px 2px;
}

.product-title {
  font-size: 14px;
  font-weight: 500;
  color: #181818;
  line-height: 18px;
  text-align: left;
  margin: 0;
}

.arrow {
  font-size: 16px;
  color: #d32f2f;
  font-weight: bold;
}

.close-button {
  display: none;
}

.close-button svg {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .product-item-box {
    flex: 0 0 25%;
    /* 4 per row on tablets */
    max-width: 25%;
  }
}

@media (max-width: 768px) {
  .product-item-box {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .product-mm-sect {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .product-range-container {
    padding-bottom: 90px !important;
  }

  .product-item-box {
    max-width: 100%;
  }

  .product-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
  .product-flex {
    flex-flow: initial !important;
    width: 100%;
    gap: 10px;
    flex-direction: column !important;
  }

  .product-image {
    display: none;
  }

  .product-item {
    padding: 0px;
  }

  .product-flex-t-0 {
    margin-top: 0px !important;
  }

  .product-range-container {
    padding-bottom: 20px !important;
  }

  .product-range-description {
    display: none;
  }

  .product-footer {
    margin-top: 0 !important;
  }

  .product-item-box {
    padding: 0px;
  }

  .close-button {
    display: block;
    text-align: end;
    margin-bottom: -13px;
    margin-right: -5px;
  }
}